@use '../abstracts/colors';

// Sheet styling
// General
.sheet {
  background: colors.$white;
  padding: 1rem;
  columns: 240px 10;
  column-gap: 3rem;
  column-rule: 1px dotted #ccc;

  > section {
    border-bottom: 2px dashed slategrey;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  > :first-child {
    column-span: all;
  }

  * {
    break-inside: avoid;
  }
}

.block-title {
  display: none;
}

.sheet {
}

.label {
  font-size: 0.6rem;
}

.upper {
  text-transform: uppercase;
}

// Sheet header
.sheet-header {
  columns: 14rem 3;
  column-gap: 3rem;
  column-rule: 1px dotted #ccc;
}

.character-details {
  columns: 5rem 2;
}

// Block 1
.passives-and-proficiency {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  border-bottom: 1px dotted colors.$quinary;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.attributes {
  .mod-text,
  .mod-text-input {
    font-size: 1.5rem;
  }

  .mod-text-input {
    max-width: 3ch;
  }

  p,
  span {
    text-transform: uppercase;
    font-size: 0.6rem;
  }
  > * {
    display: grid;
    grid-template-columns: 2fr 3fr;
    &:not(:last-child) {
      border-bottom: 1px dotted colors.$quinary;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.attribute {
  padding: 0.3rem;
  text-align: center;
}

.saving-throw {
  position: relative;

  > :not(:first-child) {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }
  > :nth-child(2) {
    left: 4.5ch;
  }

  > :nth-child(3) {
    left: 7ch;
  }
}

.skill {
  position: relative;

  > :not(:first-child, :nth-child(2)) {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }
  > :nth-child(3) {
    left: 8.5ch;
  }

  > :nth-child(4) {
    left: 11ch;
  }
}

// Block 2
.proficiencies {
  columns: 2;
  :first-child {
    column-span: all;
  }
}

// Block 3
.ac-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px dotted colors.$quinary;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  > * {
    text-align: center;
    > .mod-text-input {
      width: 3ch;
    }
  }
}

.hp-block {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  > * {
    flex: 1 1 100px;
    margin-bottom: 0.5rem;
  }
}

.hp-values {
  display: flex;
  justify-content: center;
}

.hit-dice {
  > :not(:first-child) {
    display: flex;
    justify-content: center;
  }
}

// Block 4
.attacks,
.equipment {
  > :not(:first-child) {
    display: flex;
    justify-content: space-between;
  }
}

.currency {
  display: flex;
  justify-content: space-between;
}

// Block 5
// Nothing here

// Block 6
.character-appearance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-bottom: 1px dotted colors.$quinary;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;

  > :first-child {
    width: 100%;
  }

  > :not(:first-child) {
    text-align: center;
  }
}

.character-appearance-image {
  img {
    width: 100%;
  }
}

// Block 11
.spellcasting-info {
  columns: 2;
  > :first-child {
    column-span: all;
  }
}

//Block 13
.spells-header {
  display: flex;
  justify-content: space-between;
  > * {
    text-align: center;
  }
}
